includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: argument.type
        - identifier: offsetAccess.nonOffsetAccessible
          path: src/TosServiceProvider.php
        - identifier: assignOp.invalid
          path: src/TosServiceProvider.php
        - identifier: assignOp.invalid
          path: src/TosServiceProvider.php
